<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('_header.ejs') %>
    <title>Clasificarea</title>
    <link rel="stylesheet" href="css/slides.css" />
    <link rel="stylesheet" href="css/404.css" />
  </head>
  <body>
    <span id="hamburger">&#9776;</span>
    <%- include('_navigation.ejs') %>

    <div id="wrapper">
      <h3><span class="title">Pagina nu a fost găsită.</span></h3>
    </div>

    <%- include('_menuScript.ejs') %>
  </body>
</html>
