<div class="navigation">
  <span id="close">&times;</span>
  <div class="navigation-content">
    <a href="/">Sateliți Artificiali</a><br />
    <a href="/introducere">Introducere</a><br />
    <a href="/stiinta-din-spatele-satelitilor"
      >Știința din spatele sateliților</a
    ><br />
    <a href="/scurta-istorie-a-sateliltior">Scurtă istorie a sateliților</a
    ><br />
    <a href="/clasificare">Clasificare</a><br />
    <a href="/conferinta-video">Conferința video</a><br />
    <a href="/incheiere">Încheiere</a><br />
    <a href="/testeaza-ti-cunostintele">Testează-ți cunoștințele</a>
  </div>
</div>
