<div class="navigation">
  <span id="close">&times;</span>
  <div class="navigation-content">
    <a href="/">Sateliti Artificiali</a><br />
    <a href="/introducere">Introducere</a><br />
    <a href="/stiinta-din-spatele-satelitilor"
      >Stiinta din spatele satelitilor</a
    ><br />
    <a href="/scurta-istorie-a-sateliltior">Scurta istorie a satelitilor</a
    ><br />
    <a href="/clasificare">Clasificare</a><br />
    <a href="#">Conferinta video</a><br />
    <a href="/incheiere">Incheiere</a><br />
    <a href="#">Testeaza-ti cunostintele</a>
  </div>
</div>
