<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('_header.ejs') %>
    <title>Incheiere</title>
    <link rel="stylesheet" href="css/slides.css" />
    <link rel="stylesheet" href="css/ending.css" />
  </head>
  <body>
    <span id="hamburger">&#9776;</span>
    <%- include('_navigation.ejs') %>
    <span id="highschool">Liceul Teoretic "Grigore Antipa" Botosani</span>
    <div class="section" id="first">
      <div class="container">
        <h3><span class="title">Importanta Satelitilor</span></h3>
        <p>
          Sateliții se deplaseaza pe bolta cereasca, astfel încât să poată vedea
          zone întinse ale Pământului per ansamblu. Sateliții au, de asemenea, o
          vedere clară a spațiului. Asta pentru că zboară deasupra norilor și
          atmosferei Pământului.Înainte de sateliți, semnalele TV nu mergeau
          prea departe. Semnalele TV circulă numai în linii drepte. Deci, ei ar
          pleca în spațiu în loc să urmeze curba Pământului. Uneori ar fi
          blocate de munți sau de clădiri înalte.
        </p>
      </div>
      <a id="scroller-link-1" href="#second"><span id="scroller"></span></a>
    </div>
    <div class="section" id="second">
      <div class="container">
        <h3><span class="title">Importanta Satelitilor</span></h3>
        <p>
          Apelurile telefonice către locuri îndepărtate au fost, de asemenea, o
          problemă. Costă foarte mult și este greu să configurezi firele
          telefonice pe distanțe mari sau sub apă. Cu sateliții, semnalele TV și
          apelurile telefonice pot fi trimise până la un satelit. Satelitul le
          poate trimite apoi înapoi în diferite locuri de pe Pământ.
        </p>
      </div>
      <a id="scroller-link-2" href="#third"><span id="scroller"></span></a>
    </div>
    <div class="section" id="third">
      <div class="container">
        <h3><span class="title">Realizatori</span></h3>
        <p>
          Acest website a fost realizat in cadrul concursului national
          <strong>"Săptămâna Mondială a Spațiului"</strong> de catre
          <strong>Gorghi Fabio-Roberto</strong>,
          <strong>Moscalu Iustin</strong>,
          <strong>Sandu Denis-Alexandru</strong> si
          <strong>Craciun Mihai</strong>, profesori coordonatori
          <strong>Costica Voinea Axinte</strong> si
          <strong>Dinu Burduja</strong>.
        </p>
        <br />
      </div>
      <a id="scroller-link-3" href="#fourth"><span id="scroller"></span></a>
    </div>
    <div class="section" id="fourth">
      <div class="container">
        <h3><span class="title">Bibliografie</span></h3>
        <p>
          <a
            href="https://www.nasa.gov/audience/forstudents/k-4/stories/nasa-knows/what-is-a-satellite-k4.html"
            target="_blank"
            >Nasa - What is a satellite?</a
          ><br />
          <a
            href="https://www.nasa.gov/directorates/heo/scan/communications/outreach/funfacts/txt_satellite.html"
            target="_blank"
            >Nasa - Satellites</a
          ><br />
          <a href="https://www.space.com/24839-satellites.html" target="_blank"
            >Space.com</a
          ><br />
          <a
            href="https://www.shtiu.ro/ce-este-satelitul-cum-functioneaza-un-satelit-8340.html"
            target="_blank"
            >Ce este satelitul? Cum functioneaza un satelit?</a
          ><br />
          <a
            href="https://ro.wikipedia.org/wiki/Satelit_artificial"
            target="_blank"
            >Wikipedia - Satelit Artificial</a
          ><br />
          <a
            href="https://www.onupkeep.com/answers/government/how-do-satellites-work/"
            target="_blank"
            >How do satellites work?</a
          ><br />
          <a
            href="https://science.howstuffworks.com/satellite1.htm"
            target="_blank"
            >How Stuff Works - Satellites</a
          ><br />
          <a
            href="https://science.howstuffworks.com/satellite7.htm"
            target="_blank"
            >How Stuff Works - Types of Satellites</a
          ><br />
          <a
            href="https://www.asc-csa.gc.ca/eng/satellites/everyday-lives/default.asp"
            target="_blank"
            >Satellites in everyday life</a
          ><br />
          <a
            href="https://www.quora.com/Why-are-satellites-important"
            target="_blank"
            >Why are satellites important?</a
          ><br />
          <a
            href="https://www.weforum.org/agenda/2017/10/heres-how-satellites-have-changed-the-modern-world"
            target="_blank"
            >How satellites have changed the modern world?</a
          >
        </p>
      </div>
    </div>
    <%- include('_menuScript.ejs') %>
  </body>
</html>
