<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('_header.ejs') %>
    <title>Scurta istorie a satelitilor</title>
    <link rel="stylesheet" href="css/slides.css" />
  </head>
  <body>
    <span id="hamburger">&#9776;</span>
    <%- include('_navigation.ejs') %>
    <div id="background">
      <p>Liceul Teoretic "Grigore Antipa" Botosani</p>
      <div id="line"></div>
      <span class="page-indicator">01</span>
      <div id="circles">
        <div class="circle highlight"></div>
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
      </div>
    </div>
    <span id="contact">contact@email.com</span>
    <div class="section" id="first">
      <div class="container">
        <h3><span class="title">Scurta istorie a satelitilor</span></h3>
        <p>
          Primul satelit arteficial(Sputnik 1) a fost lansat de U.R.S.S. pe data
          de 4 octombrie 1957. Chiar dacă a fost o mare realizare, la
          standardele actuale conținutul său ar fi foarte slab. Satelitul avea
          un termometru, o baterie, un emițător radio și azot gazos. Acesta a
          efectuat 1410 rotații în jurul Terrei, timp de 94 de zile, după care a
          intrat în atmosfera terestră și s-a dezintegrat prin ardere.
        </p>
      </div>
      <a id="scroller-link-1" href="#second"><span id="scroller"></span></a>
    </div>
    <div class="section" id="second">
      <div class="container">
        <h3><span class="title">Scurta istorie a satelitilor</span></h3>
        <p>
          La 3 noiembrie 1957 se lansează Sputnik 2, care o avea la bord primul
          animal viu, câinele Laika, prima ființă vie care a ajuns în spațiu.
          Acest satelit a stat în spațiu 163 de zile, timp în care a efectuat
          2370 de rotații circumterestre. NASA a lansat mulți sateliți în
          spațiu. Primul a fost Explorer 1 în 1958. Explorer a fost primul
          satelit artificial din America. Prima imagine prin satelit a
          Pământului a venit de la Explorer 6 al NASA în 1959.
        </p>
      </div>
      <a id="scroller-link-2" href="#third"><span id="scroller"></span></a>
    </div>
    <div class="section" id="third">
      <div class="container">
        <h3><span class="title">Scurta istorie a satelitilor</span></h3>
        <p>
          Primul satelit de comunicații, SCORE (Signal Communications by
          Orbiting Relay Equipment), capabil să stocheze și să transmită mesaje
          vocale cu ajutorul unei benzi magnetice, a fost lansat de S.U.A. în
          anul 1958. Prima transmisiune directă de televiziune, a fost efectuată
          de satelitul Syncom 3 de la Jocurile Olimpice de vară din 1964 de la
          Tokyo.
        </p>
      </div>
      <a id="scroller-link-3" href="#fourth"><span id="scroller"></span></a>
    </div>
    <div class="section" id="fourth">
      <div class="container">
        <h3><span class="title">Scurta istorie a satelitilor</span></h3>
        <p>
          Telstar1, lansat de compania AT&T în 1962, a fost unul dintre primii
          sateliți activi pentru comunicații. A transmis primele emisuni de
          televiziune în direct între S.U.A., Europa și Japonia. De asemeni a
          transmis convorbiri telefonice și redarea câtorva sute de stații
          radio. Astăzi cea mai mare construcție aflată în spațiu este Stația
          Spațială Internațională, care este permanent locuită de 3 astronauți
          și orbitează Pământul la o altitudine de circa 350 km.
        </p>
      </div>
      <a id="scroller-link-4" href="#fifth"><span id="scroller"></span></a>
    </div>
    <div class="section" id="fifth">
      <div class="container">
        <h3><span class="title">Scurta istorie a satelitilor</span></h3>
        <p>
          Primii sateliți au fost proiectați pentru a opera în mod pasiv,
          aceștia serveau doar la a reflecta semnale care erau direcționate spre
          ei de către stațiile de pe Pământ. Semnalele erau reflectate în toate
          direcțiile, astfel încât să poată fi recepționate de către stațiile
          aflate la sol. În prezent, sateliții folosesc exclusiv sisteme de
          operare active, în care fiecare poartă propriul echipament
          transmisie-recepție. Sateliții folosesc benzi de frecvență de
          aproximativ 6 GHz.
        </p>
      </div>
    </div>
    <%- include('_menuScript.ejs') %>
    <script>
      let winHeight, docHeight, trackLength;
      const circles = document.getElementsByClassName('circle');
      const number = document.querySelector('.page-indicator');

      const getDocHeight = () => {
        return Math.max(
          document.body.scrollHeight,
          document.documentElement.scrollHeight,
          document.body.offsetHeight,
          document.documentElement.offsetHeight,
          document.body.clientHeight,
          document.documentElement.clientHeight
        );
      };

      const getMeasurements = () => {
        winHeight =
          window.innerHeight ||
          (document.documentElement || document.body).clientHeight;
        docHeight = getDocHeight();
        trackLength = docHeight - winHeight;
      };

      getMeasurements();

      document.addEventListener('resize', getMeasurements);

      document.addEventListener('scroll', () => {
        let scrollTop =
          window.pageYOffset ||
          (
            document.documentElement ||
            document.body.parentNode ||
            document.body
          ).scrollTop;
        let pctScrolled = Math.floor((scrollTop / trackLength) * 100);
        for (let i = 0; i < 5; i++) {
          if (pctScrolled >= i * 20 && pctScrolled < (i + 1) * 20) {
            circles[i].classList.add('highlight');
            number.innerHTML = `0${i + 1}`;
          } else circles[i].classList.remove('highlight');
          if (i === 4 && pctScrolled === 100) {
            circles[i].classList.add('highlight');
            number.innerHTML = `0${i + 1}`;
          }
        }
      });
    </script>
  </body>
</html>
