<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('_header.ejs') %>
    <title>Ce sunt sateliții?</title>
    <link rel="stylesheet" href="css/introduction.css" />
  </head>
  <body>
    <span id="hamburger">&#9776;</span>
    <%- include('_navigation.ejs') %>
    <div class="wrapper">
      <div class="colored-section"></div>
      <div class="right">
        <p>Liceul Teoretic "Grigore Antipa" Botoșani</p>
        <div id="line"></div>
        <span class="page-indicator">01</span>
        <div id="circles">
          <div class="circle highlight"></div>
          <div class="circle"></div>
          <div class="circle"></div>
        </div>
      </div>

      <div class="content">
        <h3><span class="title">Ce sunt sateliții?</span></h3>
        <p>
          Un satelit este un corp ceresc care gravitează în jurul unei planete
          sau în jurul unui obiect mai mic. Pământul este un satelit deoarece
          acesta orbitează în jurul soarelui, iar luna de asemenea orbitează în
          jurul Pământului. Aceștia sunt sateliți naturali.
        </p>
      </div>
      <img class="imagine" src="assets/ground-satellite.png" />
      <div class="left">
        <p>sat.antipa@gmail.com</p>
      </div>
    </div>

    <div class="mobile-content">
      <h3>
        <span class="title">Ce sunt sateliții?</span>
      </h3>
      <img class="mobile-imagine" src="assets/ground-satellite.png" />
      <p>
        Un satelit este un corp ceresc care gravitează în jurul unei planete sau
        în jurul unui obiect mai mic. Pământul este un satelit deoarece acesta
        orbitează in jurul soarelui, iar luna de asemenea orbitează in jurul
        Pământului. Aceștia sunt sateliți naturali.
      </p>
    </div>

    <%- include('_menuScript.ejs') %>
  </body>
</html>
