<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('_header.ejs') %>
    <title>Sateliți Artificiali</title>
    <link rel="stylesheet" href="css/landing.css" />
  </head>
  <body>
    <div id="left">
      <span id="hamburger">&#9776;</span>
      <h1 class="mobile-title">Sateliți Artificiali</h1>
      <div id="main-content">
        <div id="helper">
          <img src="assets/reversed.png" />
        </div>
        <h1>Sateliți Artificiali</h1>
      </div>
      <p>Numărul de vizualizări: <span class="number"><%= number %></span></p>
      <div id="mobile-background"></div>
    </div>

    <div id="right">
      <p>Liceul Teoretic "Grigore Antipa" Botoșani</p>
      <p>contact@email.com</p>
    </div>
    <%- include('_navigation.ejs') %> <%- include('_menuScript.ejs') %>
  </body>
</html>
