<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('_header.ejs') %>
    <title>Știinta din spatele sateliților</title>
    <link rel="stylesheet" href="css/slides.css" />
  </head>
  <body>
    <span id="hamburger">&#9776;</span>
    <%- include('_navigation.ejs') %>
    <div id="background">
      <p>Liceul Teoretic "Grigore Antipa" Botoșani</p>
      <div id="line"></div>
      <span class="page-indicator">01</span>
      <div id="circles">
        <div class="circle highlight"></div>
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
      </div>
    </div>
    <span id="contact">sat.antipa@gmail.com</span>
    <div class="section" id="first">
      <div class="container">
        <h3><span class="title">Cum funcționează un satelit?</span></h3>
        <p>
          Un satelit își produce puterea necesară pe toată durata misiunii. Cea
          mai folosită sursă este o combinație a celulelor solare cu
          reîncarcarea bateriilor. Panourile solare fotovoltaice sunt de
          dimensiuni mari pentru a produce puterea de care are nevoie satelitul.
          Totodată, sateliții folosesc radiatoare în formă de panouri pentru a
          preveni supraîncălzirea de la soare a unor elemente.
        </p>
      </div>
      <a id="scroller-link-1" href="#second"><span id="scroller"></span></a>
    </div>
    <div class="section" id="second">
      <div class="container">
        <h3><span class="title">Cum funcționează un satelit?</span></h3>
        <p>
          Un satelit primeste semnalul de la o stație emițătoare de pe Terra
          (uplink) care amplifică și retransmite semnalul spre o stație de
          recepție (downlink) la o frecvență diferită. Toți sateliții din ziua
          de astăzi ajung pe orbita pământului cu ajutorul unor rachete. Aceste
          costuri pot varia undeva între 10 și 400 de milioane de dolari.
        </p>
      </div>
      <a id="scroller-link-2" href="#third"><span id="scroller"></span></a>
    </div>
    <div class="section" id="third">
      <div class="container">
        <h3><span class="title">Componentele unui satelit</span></h3>
        <p>
          Chiar dacă sateliții sunt diferiți unii de ceilalți, aceștia au multe
          lucruri în comun. Toți au un înveliș metalic sau din compozit ce ține
          toate componentele împreună și oferă suficientă forță pentru a
          supraviețui lansării. Sateliții sunt în mai multe forme și dimensiuni.
          Dar majoritatea au cel puțin două părți în comun - o antenă și o sursă
          de alimentare. Antena este utilizată pentru a trimite și primi
          informații. Sursa de alimentare poate fi un panou solar sau o baterie,
          iar panourile solare produc energie transformând lumina soarelui în
          electricitate.
        </p>
      </div>
      <a id="scroller-link-3" href="#fourth"><span id="scroller"></span></a>
    </div>
    <div class="section" id="fourth">
      <div class="container">
        <h3><span class="title">Componentele unui satelit</span></h3>
        <p>
          Toți au o sursă de energie (în general celule solare) și baterii
          pentru stocarea energiei. Pentru sondele spațiale trimise spre alte
          planete s-a mai folosit și energie nucleară. Toți au un computer de
          bord pentru controlul și monitorizarea diferitelor sisteme. La fel au
          și un sistem radio, o antenă și un sistem de control al altitudinii.
          Mulți sateliți NASA poartă camere și senzori științifici. Acestia
          colecteaza informații despre pământul, aerul și apa Terrei sau pot
          colecta date din sistemul solar și din univers.
        </p>
      </div>
    </div>
    <%- include('_menuScript.ejs') %>
    <script>
      let winHeight, docHeight, trackLength;
      const circles = document.getElementsByClassName('circle');
      const number = document.querySelector('.page-indicator');

      const getDocHeight = () => {
        return Math.max(
          document.body.scrollHeight,
          document.documentElement.scrollHeight,
          document.body.offsetHeight,
          document.documentElement.offsetHeight,
          document.body.clientHeight,
          document.documentElement.clientHeight
        );
      };

      const getMeasurements = () => {
        winHeight =
          window.innerHeight ||
          (document.documentElement || document.body).clientHeight;
        docHeight = getDocHeight();
        trackLength = docHeight - winHeight;
      };

      getMeasurements();

      document.addEventListener('resize', getMeasurements);

      document.addEventListener('scroll', () => {
        let scrollTop =
          window.pageYOffset ||
          (
            document.documentElement ||
            document.body.parentNode ||
            document.body
          ).scrollTop;
        let pctScrolled = Math.floor((scrollTop / trackLength) * 100);
        for (let i = 0; i < 4; i++) {
          if (pctScrolled >= i * 25 && pctScrolled < (i + 1) * 25) {
            circles[i].classList.add('highlight');
            number.innerHTML = `0${i + 1}`;
          } else circles[i].classList.remove('highlight');
          if (i === 3 && pctScrolled === 100) {
            circles[i].classList.add('highlight');
            number.innerHTML = `0${i + 1}`;
          }
        }
      });
    </script>
  </body>
</html>
