<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('_header.ejs') %>
    <title>Clasificarea</title>
    <link rel="stylesheet" href="css/slides.css" />
  </head>
  <body>
    <span id="hamburger">&#9776;</span>
    <%- include('_navigation.ejs') %>
    <div id="background">
      <p>Liceul Teoretic "Grigore Antipa" Botosani</p>
      <div id="line"></div>
      <span class="page-indicator">01</span>
      <div id="circles">
        <div class="circle highlight"></div>
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
      </div>
    </div>
    <span id="contact">contact@email.com</span>
    <div class="section" id="first">
      <div class="container">
        <h3><span class="title">Clasificarea satelitilor</span></h3>
        <p>
          Cu totii stim ca satelitii se impart in doua categorii:naturali si
          artificiali. Daca stam si ne gandim,cand auzim notiunea de satelit ne
          trimite cu gandul la satelitii artificiali proiectati de
          oameni.Satelitii artificiali ii definim ca fiind masini fabricate de
          om si lansate in spatiu, folositi in scopuri si domenii de cercetare
          (comunicare, radiodifuziune și meteorologie).
        </p>
      </div>
      <a id="scroller-link-1" href="#second"><span id="scroller"></span></a>
    </div>
    <div class="section" id="second">
      <div class="container">
        <h3><span class="title">Clasificarea satelitilor</span></h3>
        <p>
          Satelitii naturali se afla in componenta galaxiei noastre de cand s-a
          format universul,dar exista mii de sateliti artificiali, care au fost
          creati si trimisi in spatiu pentru a-i ajuta pe oamenii de stiinta sa
          decopere universul si apartin mai multor institutii,cu domeniul
          diferit de activitate.
        </p>
      </div>
      <a id="scroller-link-2" href="#third"><span id="scroller"></span></a>
    </div>
    <div class="section" id="third">
      <div class="container">
        <h3><span class="title">Tipuri de sateliti</span></h3>
        <p>
          <strong>Satelitii de comunicatie</strong>: transmit și amplifică
          semnalele de telecomunicații radio prin intermediul unui transponder;
          creează un canal de comunicare între un emițător sursă și un receptor
          în diferite locații de pe Pământ
        </p>
        <br />
        <p>
          <strong>Satelitii de navigare si localizare</strong>: sistemul de
          navigație prin satelit calculează poziția geospațială a obiectelor de
          pe pământ sau din spațiu cu ajutorul semnalelor receptate de la
          sateliți de navigație. Un astfel de sistem ajută și la orientarea sau
          dirijarea vehiculelor, navelor în largul oceanelor, rachetelor etc.
        </p>
      </div>
      <a id="scroller-link-3" href="#fourth"><span id="scroller"></span></a>
    </div>
    <div class="section" id="fourth">
      <div class="container">
        <h3><span class="title">Tipuri de sateliti</span></h3>
        <p>
          <strong>Satelitii meteorologici</strong>: furnizează informații despre
          prognoza meteorologică și avertismente în legatură cu instabilitatea
          vremii. Sateliții meteorologici sunt o componentă importantă a
          meteorologiei și climatologiei, dând posibilitatea observării în timp
          real a fenomenelor atmosferice.
        </p>
        <br />
        <p>
          <strong>Sateliti stiintifici</strong>: pot furniza date privind Terra,
          mărimea și forma sa, dinamica mărilor, oceanelor și a atmosferei. De
          asemenea, pot cerceta Soarele, Luna, alte planete, comete, stele și
          galaxii. Telescopul spațial Hubble este un tip de satelit științific,
          lansat în anul 1990. Unii sateliți științifici (sonde spațiale)
          orbitează și în jurul altor corpuri cerești decât Pământul.
        </p>
      </div>
      <a id="scroller-link-4" href="#fifth"><span id="scroller"></span></a>
    </div>
    <div class="section" id="fifth">
      <div class="container">
        <h3><span class="title">Tipuri de sateliti</span></h3>
        <p>
          <strong>Sateliti militari</strong>: transmiterea datelor se face
          codificat și decodificate de receptoare speciale aflate la sol. Există
          diferite tipuri de sateliți militari conform misiunilor: <br />
          - recunoaștere, care utilizează tehnici de infraroșu, imagini optice
          radar pentru instalații militare strategice, câmpuri de luptă <br />
          - comunicații pentru conexiuni militare, ascultarea telecomunicațiilor
          și semnale radar <br />
          - avertizare timpurie, echipați cu senzori pentru a detecta căldura
          emisă de lansarea unei rachete balistice
        </p>
      </div>
    </div>
    <%- include('_menuScript.ejs') %>
    <script>
      let winHeight, docHeight, trackLength;
      const circles = document.getElementsByClassName('circle');
      const number = document.querySelector('.page-indicator');

      const getDocHeight = () => {
        return Math.max(
          document.body.scrollHeight,
          document.documentElement.scrollHeight,
          document.body.offsetHeight,
          document.documentElement.offsetHeight,
          document.body.clientHeight,
          document.documentElement.clientHeight
        );
      };

      const getMeasurements = () => {
        winHeight =
          window.innerHeight ||
          (document.documentElement || document.body).clientHeight;
        docHeight = getDocHeight();
        trackLength = docHeight - winHeight;
      };

      getMeasurements();

      document.addEventListener('resize', getMeasurements);

      document.addEventListener('scroll', () => {
        let scrollTop =
          window.pageYOffset ||
          (
            document.documentElement ||
            document.body.parentNode ||
            document.body
          ).scrollTop;
        let pctScrolled = Math.floor((scrollTop / trackLength) * 100);
        for (let i = 0; i < 5; i++) {
          if (pctScrolled >= i * 20 && pctScrolled < (i + 1) * 20) {
            circles[i].classList.add('highlight');
            number.innerHTML = `0${i + 1}`;
          } else circles[i].classList.remove('highlight');
          if (i === 4 && pctScrolled === 100) {
            circles[i].classList.add('highlight');
            number.innerHTML = `0${i + 1}`;
          }
        }
      });
    </script>
  </body>
</html>
