<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('_header.ejs') %>
    <title>Conferința video</title>
    <link rel="stylesheet" href="css/video.css" />
  </head>
  <body>
    <span id="hamburger">&#9776;</span>
    <%- include('_navigation.ejs') %>

    <p id="highschool">Liceul Teoretic "Grigore Antipa" Botoșani</p>

    <div id="background"></div>

    <header>
      <h3><span class="title">Conferința video</span></h3>

      <video id="video" controls>
        <source src="assets/video.mp4" type="video/mp4" />
        Your browser does not support this video.
      </video>

      <a id="scroller-link" href="#section"><span id="scroller"></span></a>
    </header>

    <section id="section">
      <p>
        Activitatea online a fost desfășurată în cadrul Săptămânii Mondiale a
        Spațiului de către două unități școlare, Liceul Teoretic "Grigore
        Antipa" Botoșani în parteneriat cu Colegiu Național "Ștefan cel Mare"
        Târgu Neamț și invitatul Potrivitu Cristian George, doctorant la Nanyang
        Technological University din Singapore, în vederea informării și
        popularizării beneficiilor utilizării conceptului de "spaţiu cosmic"
        pentru omenire și crearea unui context creativ și inovativ pentru
        predarea şi ȋnvăţarea disciplinelor cuprinse ȋn sfera conotativă STEM –
        ştiinţe (fizică, chimie, biologie, geografie), tehnologie, inginerie şi
        matematică. Pentru a afla mai multe despre această activitate puteți
        consulta resursele:
      </p>

      <ul>
        <li><a target="_blank" href="assets/banner.jpg">Bannerul</a></li>
        <li><a href="assets/Informatii.doc">Acordul de parteneriat</a></li>
        <!-- <li>List item 3</li>
        <li>List item 4</li> -->
      </ul>
    </section>

    <footer>
      <span id="copyright">Copyright © 2020</span>
      <span id="contact">sat.antipa@gmail.com</span>
    </footer>

    <%- include('_menuScript.ejs') %>
  </body>
</html>
